<header>
  <br>
<ul class="menu">
  <li><a  (click)="scrollToSection('#about')">A propos de nous</a></li>
  <li><a (click)="scrollToSection('#services')">Nos services</a></li>
  <li style="display: flex; flex-direction: column; color: white; font-family: 'Agrandir';"><img class="logo" src="../assets/logo.png" alt=""> 
    <!-- <span>COCKTAIL EXPERIENCE</span> -->
  </li>
  <li><a (click)="scrollToSection('#carte')">Notre carte</a></li>
  <li><a (click)="scrollToSection('#contact')">Contact</a></li>
  <li><a (click)="scrollToSection('#devis')"><button class="buttonDevis">Faire un devis</button></a></li>
</ul>
<p class="phrase1">Rafraichissez vos évenements avec Juicy Cocktail !</p>
<p class="phrase2">Faites pétiller vos moments spéciaux avec nos cocktails haut en couleurs et en saveurs</p>
<div class="rs">
  <img src="../assets/instagram.svg" alt="" width="20">
  <img src="../assets/tic-tac.svg" alt="" width="20">
</div>
<div class="mg-a more"><a href="#about"><button class="knowMore">En savoir plus</button></a> 
<a href="#about"><img style="width:30px" src="../assets/fleche-bas.svg" alt=""> </a>
</div>
</header>
<div id="about">
</div>
<div id="services">
</div>
<div id="carte">
</div>
<div id="contact">
</div>
<div id="devis">
</div>
<footer>

</footer>