<header>
  <br>
<ul class="menu">
  <li><a  (click)="scrollToSection('#about')">A propos de nous</a></li>
  <li><a (click)="scrollToSection('#services')">Nos services</a></li>
  <li style="display: flex; flex-direction: column; color: white; font-family: 'Agrandir';"><img class="logo" src="../assets/logo.png" alt=""> 
    <!-- <span>COCKTAIL EXPERIENCE</span> -->
  </li>
  <li><a (click)="scrollToSection('#carte')">Notre carte</a></li>
  <li><a (click)="scrollToSection('#contact')">Contact</a></li>
  <li><a (click)="scrollToSection('#devis')"><button class="buttonDevis">Faire un devis</button></a></li>
</ul>
<p class="phrase1">Rafraichissez vos évenements avec Juicy Cocktail !</p>
<p class="phrase2">Faites pétiller vos moments spéciaux avec nos cocktails haut en couleurs et en saveurs</p>
<div class="rs">
  <img src="../assets/instagram.svg" alt="" width="20">
  <img src="../assets/tic-tac.svg" alt="" width="20">
</div>
<div class="mg-a more"><a href="#about"><button class="knowMore">En savoir plus</button></a> 
<a href="#about"><img style="width:30px" src="../assets/fleche-bas.svg" alt=""> </a>
</div>
</header>
<div id="about">
  <div class="text-about">
    <div class="article">
      <h1>Bienvenue chez Juicy Cocktail !</h1>
      <p>Plongez dans l'univers des cocktails avec Juicy Cocktail, votre prestataire de service de cocktails pour tous vos événements.</p>
      <p>Que ce soit un mariage, un anniversaire, un séminaire d'entreprise ou une soirée entre amis, nous sommes là pour apporter une touche de fraîcheur et de convivialité à vos réceptions.</p>
      <ul class="items">
        <li class="item"><img src="../assets/icone1.png" alt=""> <p>Des cocktails frais et savoureux</p></li>
        <li class="item"><img src="../assets/icone2.png" alt=""> <p>Un service sur-mesure</p></li>
        <li class="item"><img src="../assets/icone3.png" alt=""> <p>Un service clé en main pour une expérience sans tracas</p></li>
      </ul>
    </div>
    <div class="gallery">
      <div class="slider">
      
      </div>
    </div>
  </div>
  <div class="slogan">
    <p>Quelques gouttes de Juicy et on jouit de bonheur ...</p>
    <img src="../assets/icone-juicy.png" alt="">
  </div>
</div>
<div id="services">
  <div class="flex">
    <img class="service-img" src="../assets//img1.png" alt="">
    <div>
      <h1>Nos services</h1>
      <p>Juicy Cocktail propose un service complet de bar à cocktails pour vos événements.</p>
      <p>Notre équipe se charge de tout, de la préparation à la présentation, en passant par le service, pour que vous puissiez profiter pleinement de votre événement.</p>
    </div>
  </div>
  
  
  <h1>Vous voulez des Juicy cocktail à votre évènement ?</h1>
  <ul class="items">
    <li class="item item-service">
      <img src="../assets/icone-courrier.png" alt="">
      <h2>Etape 1 :</h2> 
      <p>Commencez l’aventure Juicy Cocktail</p>
    </li>
    <li class="item item-service">
      <h2>Etape 2 :</h2>
      Concrétisez vos envies avec notre offre personnalisée !</li>
    <li class="item item-service">
      <h2>Etape 3 :</h2>
      <p>Savourez chaque instant le jour J !</p>
    </li>
  </ul>
</div>
<div id="carte">
  <div class="contenu">
    <h1>Notre carte</h1>
    <p>Découvrez notre sélection de cocktails, des plus classiques aux plus originaux, tous réalisés avec des ingrédients de qualité supérieure. Nous offrons également des options sans alcool.</p>
    <div class="slider-group">
      <div class="slider-cocktail">
        <h1>Pina Colada</h1>
        <img src="../assets/pina.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
      </div>
    </div>
  </div>
</div>
<div id="contact">
</div>
<div id="devis">
</div>
<footer>

</footer>